header{
    background-image: url("../img 4/pattern.png");
    background-size: 30%;
    background-color: dodgerblue;
}

#logo{
    width: 200px;
    height: 100px;
}
strong{
    color: rgb(100, 163, 226);
    
}

h1{
    font-size: 40px;
}
#evidenziato{
    background-color: yellow;
}